<div class="expense__header" (click)="openChangeCategoryModal()">
    <h2 class="expense__title">{{ selectedExpense }}</h2>
    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
        width="24" height="24" fill="none" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="m14.304 4.844 2.852 2.852M7 7H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-4.5m2.409-9.91a2.017 2.017 0 0 1 0 2.853l-6.844 6.844L8 14l.713-3.565 6.844-6.844a2.015 2.015 0 0 1 2.852 0Z" />
    </svg>
</div>

<form [formGroup]="addExpenseForm" (ngSubmit)="handleSubmit()">
    <div class="expense__form">
        <div class="expense__group">
            <label class="expense__label expense__label--date">
                Date
                <input class="expense__details-date" type="date" formControlName="date">
            </label>
            <label class="expense__label expense__label--time">
                Time
                <input class="expense__details-time" type="time" formControlName="time">
            </label>
        </div>

        <div class="expense__group">
            <label class="expense__label expense__label--full-width">
                Details
                <input class="expense__details-input" type="text" formControlName="details">
            </label>
        </div>

        <div class="expense__group">
            <label class="expense__label">
                Currency
                <select class="expense__details-currency" formControlName="currency">
                    @for (currency of currencies; track $index) {
                    <option [value]="currency">{{currency}}</option>
                    }
                </select>
            </label>
            <label class="expense__label">
                Amount
                <input class="expense__amount-input" type="number" formControlName="amount">
            </label>
        </div>

        @if (selectedCurrency?.value !== 'EUR') {
        <div class="expense__group expense__group--read-only">
            <div>
                <span class="expense__title--read-only">Exchange rate</span>
                <span class="expense__title--read-only">{{ exchangeRateDate }}</span>
                <span class="expense__value--read-only">EUR/{{selectedCurrency?.value}} {{exchangeRate}}</span>
            </div>
            <div>
                <span class="expense__title--read-only">Converted</span>
                <span class="expense__value--read-only">{{ convertedAmount | currency: 'EUR' }}</span>
            </div>
        </div>
        }
    </div>


    <div class="expense__button-group">
        <button class="btn--warning" routerLink=".." type="button">Cancel</button>
        <button class="btn--success" type="submit" [disabled]="!addExpenseForm.valid">Save</button>
    </div>

</form>

<dialog id="categoryNameChangeDialog" class="simple-modal">
    <form [formGroup]="changeCategoryNameForm" (ngSubmit)="handleChangeCategoryNameSubmit()">
        <label>
            New Category Name
            <input type="text" formControlName="category">
        </label>
        <div class="button-group">
            <button type="button" class="btn--warning" (click)="closeChangeCategoryNameModal()">Cancel</button>
            <button type="submit" class="btn--success" [disabled]="!changeCategoryNameForm.valid">Save</button>
        </div>
    </form>
</dialog>
