@import "./assets/css/button.css";
@import "./assets/css/simple-modal.css";

body {
    background-color: var(--bg);
}

/* Colors */

:root {
  --bg: #F4ACB7;
  --bg-item: #FFCAD4;
  --bg-total: #FFCAD4;
  --total-button: #F4ACB7;
  --success: white;
  --warning: white;
  --danger: white;
  --info: white;
  --expense-input: white;
  --secondary-text: #525252;
  --add-category-button: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #FAEDCB;
    --bg-item: #C6DEF1;
    --bg-total: #C9E4DE;
    --total-button: #A3D3C8;
    --success: #A8D1D1;
    --warning: #F4CBBA;
    --danger: #FD8A8A;
    --info: #DEDAF4;
    --expense-input: #e3f1fc;
    --secondary-text: #223843;
    --add-category-button: #85b3d9;
  }
}  

/* Typography */

/* Borders */
